<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Toegangssysteem - importeertool</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>
<body>

<div class="col-lg-6">
    <div class="row">
        <br/>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Upload het bestand met ledendata</h3>
        </div>
        <div class="panel-body">
            <div th:if="${warning != null}" class="alert alert-warning" role="alert">
                <span th:text="${warning}"></span>
            </div>

            <form action="upload" th:action="@{/upload}" method="post" enctype="multipart/form-data">

                <label class="control-label">Selecteer het bestand met ledendata</label>
                <div class="input-group">
                    <input id="file-input" class="form-control" name="file" type="file" data-allowed-file-extensions='["csv", "txt"]'/>
        <span class="input-group-btn">
          <input class="btn" type="submit" value="Verwerk"/>
        </span>
                </div><!-- /input-group -->
            </form>
        </div>
    </div>


    <div class="panel panel-success" th:if="${result != null}">
        <div class="panel-heading">
            <h3 class="panel-title" th:text="'Verwerkingsresultaat van ' + ${filename}">Verwerkingsresultaat</h3>
        </div>
        <div class="panel-body">
            <table class="table">
                <thead>
                <tr>
                    <th>Gegevens</th>
                    <th>Geslaagd?</th>
                    <th>Melding</th>
                </tr>
                </thead>
                <tr th:each="record : ${result.result}">
                    <td th:text="${record.userAsString}">Gegevens...</td>
                    <td th:text="${record.succeeded}? 'Ja' : 'Nee' ">Geslaagd? ...</td>
                    <td th:class="${record.succeeded}? '' : 'alert alert-warning'" th:text="${record.errorText}">Melding ...</td>
                </tr>
            </table>
        </div>
        <div class="panel-footer">
            <h3 class="panel-title" th:text="'Verwerkingstijd: ' + ${tooktime} + ' voor ' + ${recordCount} + ' records'">Verwerkingstijd</h3>
        </div>
    </div>
</div>
</body>
</html>