<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Toegangssysteem - importeertool</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>
<body>

<div class="col-lg-6">
    <div class="row">
        <br/>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Upload een bestand met ledendata</h3>
        </div>
        <div class="panel-body">
            <div th:if="${warning != null}" class="alert alert-warning" role="alert">
                <span th:text="${warning}"></span>
            </div>

            <!--<form action="upload" th:action="@{/uploadExcel}" method="post" enctype="multipart/form-data">
                <label class="control-label">Selecteer het Excel bestand met ledendata</label>
                <div class="input-group">
                    <input id="excel-file-input" class="form-control" name="file" type="file" data-allowed-file-extensions='["xls"]'/>
                    <span class="input-group-btn">
                        <input class="btn" type="submit" value="Verwerk Excel"/>
                    </span>
                </div>&lt;!&ndash; /input-group &ndash;&gt;
            </form>-->

            <form action="upload" th:action="@{/uploadCSV}" method="post" enctype="multipart/form-data">
                <label class="control-label">Selecteer het CSV bestand met ledendata</label>
                <div class="input-group">
                    <input id="csv-file-input" class="form-control" name="file" type="file" data-allowed-file-extensions='["csv"]'/>
                    <span class="input-group-btn">
                        <input class="btn" type="submit" value="Verwerk CSV"/>
                    </span>
                </div><!-- /input-group -->
            </form>
        </div>
    </div>


    <div class="panel panel-success" th:if="${result != null}">
        <div class="panel-heading">
            <h3 class="panel-title" th:text="'Verwerkingsresultaat van ' + ${filename}">Verwerkingsresultaat</h3>
        </div>
        <div class="panel-body">
            <div class="row" style="padding-top: 20px">
                <div class="col-md-4">Totaal aantal gebruikers</div>
                <div class="col-md-4" th:text="${result.totalNumberOfRecords}">Totaal aantal...</div>
                <div class="col-md-4"></div>
            </div>
            <div class="row">
                <div class="col-md-4">Aantal reeds bestaande gebruikers</div>
                <div class="col-md-4" th:text="${result.skippedRecords}">Reeds bestaand...</div>
                <div class="col-md-4"></div>
            </div>
            <div class="row" style="padding-top: 20px">
                <div class="col-md-12">
                    <table class="table table-striped">
                        <thead class="thead-inverse">
                        <tr>
                            <th>Gegevens gebruikers zonder badgenummer (deze zijn nog NIET verwerkt)</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="record : ${result.usersWithoutBadgenumber}">
                            <td scope="row" th:text="${record}">Gegevens...</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row" style="padding-top: 20px">
                <div class="col-md-12">
                    <table class="table table-striped">
                        <thead class="thead-inverse">
                        <tr>
                            <th>Gegevens verwerkte gebruikers</th>
                            <th>Geslaagd?</th>
                            <th>Foutmelding</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="record : ${result.result}">
                            <td scope="row" th:text="${record.userAsString}">Gegevens...</td>
                            <td th:text="${record.succeeded}? 'Ja' : 'Nee' ">Geslaagd? ...</td>
                            <td th:class="${record.succeeded}? '' : 'alert alert-warning'" th:text="${record.errorText}">Foutmelding ...</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
        <div class="panel-footer">
            <h3 class="panel-title" th:text="'Verwerkingstijd: ' + ${tooktime} + ' voor ' + ${recordCount} + ' records'">Verwerkingstijd</h3>
        </div>
    </div>
</div>
</body>
</html>